{% extends "index.html" %}

{% block keywords %}
<meta name="Chellow UK Energy Bill Validation" content="Chellow, UK, Energy, Bill, Validation">{% endblock keywords %}

{% block header %}
<link rel="icon" type="image/png" href="{{ get_url(path="logo-small.png") }}">
<div class="hero hero-home col center" style="background-image: url(/halo.png); min-height: 60vh;">
    <h1>Chellow</h1>
</div>
{% endblock header %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<main>
    <div class="page">

        <div class="textimage" style="min-height: 30vh;">
            <img alt="logo" src="/logo.png" style="max-width: 200px;" />
            <div class="quote">
                <p>
		  The Open Source Web Application For Validating The Energy Bills Of
		  Large UK Organisations
		</p>
            </div>
        </div>

        <div class="col center">
            <div style="max-width: min(95vw, 600px);">
                <p>
		  Chellow has been successfully checking bills since 2006. It is a
		  browser-based system designed for organisations that spend over £1m /
		  year on energy. Chellow works by creating expected bills, and then
		  comparing them against the actual bills. Any differences are highlighted
		  to the user so that they can can be taken up with the supplier. A
		  strength of Chellow is the accuracy of its expected bills, derived from
		  the supply contract and industry data feeds.
		</p>
                <p>
		  Chellow is Open Source software, so you'll never be locked in to a
		  single vendor. You can
		  <a href="https://github.com/WessexWater/chellow">download</a> and run
		  Chellow yourself, or <a href="/contact/">contact us</a> if you'd like a
		  fully set-up hosted instance of Chellow.
		</p>
            </div>
        </div>
    </div>

    <div class="hero" style="background-image:url(/halo.png);">
        <div class="col center" style="background-color: rgba(0, 0, 0, 0.5); padding: 2em; color: white;">
            <div>
                <img src="/logo-small.png"/>
            </div>
            <h3 style="margin-bottom: 0;">Empower your energy bill-validation team</h3>
            <h3></h3>
            <a class="button button-orange" style="border-radius: 2em;" href="/features">Read more</a>
        </div>
    </div>

    <div class="page">
        <div class="col center">
            <div style="max-width: min(95vw, 600px);">
                <h4>Want to know more about Chellow?</h4>
                <ul>
		  <li>Read the <a href="/features">features of Chellow</a></li>
		  <li>Use GitHub Issues to <a href="https://github.com/WessexWater/chellow/issues">ask a question</a></li>
		  <li>Read <a href="/blog">the blog</a></a>
		  <li><a href="/contact">Contact</a> us</a>
		  <li>Get involved and perhaps <a href="/contribute">contribute</a> to Chellow</li>
                </ul>
            </div>
        </div>

        <hr class="fade">
    </div>

    <div class="row center" style="align-items: start;">
        <div class="col center" style="max-width: min(95vw, 900px);">
            <h4>Latest blog posts</h4>
            {% set posts = get_section(path="blog/_index.md") -%}
            <ul>
                {%- for article in posts.pages | slice(end=config.extra.homepage.n_articles) %}
                <li><a href="{{article.permalink}}">{{ article.title | safe }}</a> {{ macros::date(date=article.date, icon=false) }}</li>
                {%- endfor %}
            </ul>

        </div>

    </div>




    <br>
    <br>
    <br>


</main>
{% endblock content %}
