<footer>
    <div>
        {% for link in config.extra.footer.links %}
            {#- hack to get page or section #}
            {%- if link is ending_with("_index.md") -%}
            {%- set s = get_section(path=link) -%}
                <div><a href="{{ s.permalink }}">{{s.title | safe}}</a></div>
            {%- else -%}
            {%- set p = get_page(path=link) -%}
                <div><a href="{{ p.permalink }}">{{p.title | safe}}</a></div>
            {%- endif -%}
        {% endfor %}
    </div>

    <div>
        <p>© Content under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> licence</p>
    </div>
</footer>
